@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 16px;
}

h5 {
    font-size: 24px;
}

.mobile {
    display: none;
}

.navbar-native {
    padding: 24px 0px;
}

.section-title {
    color: #121224;
}

.main-header {
    position: relative;
    display: flex;
    align-items: center;
    height: 70dvh;
    background-image: url('images/header-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.native-row {
    display: flex;
    align-items: center;
}

.native-row .text-content {
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 24px;
}

.main-header .native-row .button-row {
    background: rgba(255, 255, 255, 1);
    padding: 20px;
    border-radius: 26px;
    gap: 16px;
    display: flex;
    width: max-content;
}

.main-header .native-row h2 {
    margin: 0px;
    font-family: Manrope;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1.8px;
    vertical-align: middle;
    color: #121224;
}

.main-header .button-row button {
    padding: 12px 36px;
    font-family: Manrope;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    border-radius: 12px;
}

.main-header .request-demo {
    border: none;
    color: #fff;
    background: rgba(38, 93, 245, 1);
}

.main-header .watch-video {
    color: rgba(38, 93, 245, 1);
    background: #fff;
    border: 1px solid rgba(38, 93, 245, 1)
}

.main-header .header-image {
    position: absolute;
    width: 45%;
    top: 0px;
    /* background: red; */
    right: 0px;
    bottom: 0px;
    margin: auto;
    display: flex;
    align-items: center;
}

.main-header .header-image img {
    width: 100%;
}

.clients-carousel {
    margin: 48px 0px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.carousel-title {
    width: max-content;
}

.carousel-title p {
    margin: 0px;
    font-family: Manrope;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 10%;
    text-align: left;
    text-transform: uppercase;
    color: rgba(0, 177, 38, 1);
}

.carousel-title h3 {
    font-family: Manrope;
    font-weight: 800;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0%;
    color: #3E3E3E;
}

.carousel-title h3 span {
    font-family: Manrope;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0%;
    color: #3E3E3E;
}

.carousel-slider {
    width: 62%;
    position: absolute;
    right: 0px;
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.carousel-slider img {
    width: 100%;
}

.product-features {
    margin: 48px 0px;
}

.product-features .wrapper {
    border-radius: 16px;
    width: 90%;
    margin: 0px auto;
    position: relative;
    padding: 36px 0px;
    height: 369px;
    background-image: url('images/features-banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-features .section-title {
    width: max-content;
    border-radius: 12px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    background-color: #000;
}

.product-features .section-title h3 {
    font-family: Manrope;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #fff;
}

.product-features .section-title h3 span {
    font-family: Manrope;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%;
}

.feature-row {
    width: 112%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -40%;
    gap: 18px;
    display: flex;
    justify-content: center;
}

.feature-card {
    display: flex;
    gap: 12px;
    background-color: #FFFFFF;
    border-radius: 24px;
    border: 2px solid #E3ECFB;
    box-shadow: 0px 20px 80px 0px #CFDAEC66;
}

.feature-card .feature-tag {
    background-image: url('images/feature-badge.png');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    padding: 6px;
    margin-left: 12px;
    color: #fff;
    font-family: Manrope;
    font-weight: 500;
    letter-spacing: 0%;

}

.feature-content {
    padding-top: 18px;
    padding-bottom: 16px;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.feature-content h4 {
    margin: 0px;
    font-family: Manrope;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
}

.feature-content p {
    margin: 0px;
    font-family: Manrope;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #5A6382;

}

.product-insights {
    margin-top: 224px;
    display: flex;
    justify-content: center;
}

.product-insights .section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-insights .section-title h3 {
    font-family: Manrope;
    font-weight: 800;
    font-size: 48px;
    line-height: 40px;
    letter-spacing: 0%;
    vertical-align: middle;
}

.product-insights .section-title h5 {
    font-family: Manrope;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
}

.tab-switch {
    margin: 24px 0px 0px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #265DF5
}

.tab-switch .toggle-container {
    display: flex;
    gap: 0px;
}

.tab-switch .toggle-btn {
    margin: 0px;
    width: 260px;
    height: 52px;
    border: 2px solid #A6BDFF;
    border-bottom: none;
    background: #D9E3FF66;
    font-family: Manrope;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: center;
    vertical-align: middle;
    color: rgba(0,0,0,.7);
}

.tab-switch .active {
    color: #fff;
    font-family: Manrope;
    font-weight: 800;
    border: none;
    background: #265DF5;
    cursor: unset;
}

.tv-btn {
    border-top-left-radius: 12px;
}

.cv-btn {
    border-top-right-radius: 12px;
}

.tab-content {
    height: 420px;
    display: flex;
    gap: 16px;
    margin: 24px 0px;
}

.tab-content h4 {
    margin-bottom: 36px;
    color: #000;
    font-family: Manrope;
    font-weight: 300;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0%;
    vertical-align: middle;
}

.tab-content .left-panel {
    margin-top: 48px;
}

.tab-content .left-panel ul {
    margin: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tab-content .left-panel ul li {
    cursor: pointer;
    height: 52px;
    border-width: 1.2px;
    padding: 16px 10px;
    border-radius: 12px;
    border: 1.2px solid #EEEEEE;
    font-family: Manrope;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    vertical-align: middle;
    color: #000000;
}

.tab-content .left-panel ul .active {
    background: #000000;
    color: #fff;
}

.tab-content .left-panel ul .active:hover {
    background: #000000;
    color: #fff;
    cursor: unset;
}

.tab-content .left-panel ul li:hover {
    background-color: #e9e9e9;
}

.tab-content .right-panel {
    padding: 16px 8px;
    width: 100%;
    height: 100%;
    background-image: url('images/right-panel-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;

    position: relative;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    /* background: blue; */
    justify-content: center;
}

.tab-content .tip {
    position: absolute;
    top: 6px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.tab-content .tip-content {
    width: 90%;
    padding: 10px;
    border-radius: 8px;
    background: #00C82B0D;
}

.tab-content .tip-content p {
    color: #00B126;
    margin: 0px;
}

.tab-content .right-panel .panel-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
}

.tab-content .right-panel .panel-img img {
    height: 90%;
}

.tab-content .caption {
    margin: 12px 0px;
    font-family: Manrope;
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000;
}

.benefits-content {
    display: flex;
    justify-content: center;
}

.product-benefits {
    margin: 112px 0px;
}

.product-benefits .section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.product-benefits .section-title h3 {
    font-family: Manrope;
    font-weight: 800;
    font-size: 48px;
    line-height: 40px;
    letter-spacing: 0%;
    vertical-align: middle;
}

.product-benefits .section-title h5 {
    font-family: Manrope;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
}

.product-benefits .headings,
.product-benefits .talent-plus,
.product-benefits .other-solution {
    padding: 0px;
}

.product-benefits .headings .table-title,
.product-benefits .talent-plus .table-title,
.product-benefits .other-solution .table-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    border-width: 1px;
    padding: 10px;
}

.product-benefits .headings .table-title h5,
.product-benefits .talent-plus .table-title h5,
.product-benefits .other-solution .table-title h5{
    margin: 0px;
    font-family: Manrope;
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-align: center;
}

.headings .table-content p,
.talent-plus .table-content p,
.other-solution .table-content p {
    margin: 0px;
}


.headings .table-content,
.talent-plus .table-content,
.other-solution .table-content {
    display: flex;
    align-items: center;
    /* width: 338; */
    height: 80px;
    border-width: 1px;
    padding: 10px 20px;
}

.talent-plus .table-title {
    background: #265DF5;
}

.talent-plus .table-title h5 {
    color: #fff;
}

.talent-plus .table-content p {
    font-weight: 600;
}

.headings .table-title {
    background: #ffffff;
}

.headings .table-title h5 {
    color: #fff;
}

.headings .table-content {
    background: #000000;
    border: 1px solid #FFFFFF
}

.headings .table-content p {
    color: #fff;
    margin: 0px;
    font-family: Manrope;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
}

.other-solution .table-title {
    background: #D9E3FF;
}

.other-solution .table-title h5 {
    color: #000000;
}

.other-solution .table-content p {
    color: #8C8C8C;
}

.other-solution .table-content {
    background: #FBFBFB;
    padding: 10px 40px;
}

.product-testimonials .section-title {
    margin-bottom: 56px;
}

.product-testimonials .section-title h3{
    font-family: Manrope;
    font-weight: 800;
    font-size: 48px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #121224;
}

.testimonials-content,
.carousel-native {
    display: flex;
    justify-content: space-between;
}

.product-testimonials .left,
.product-testimonials .right {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.client-details {
    display: flex;
    /* background: rebeccapurple; */
    justify-content: flex-start;
    align-items: center;
}

.client-name h5 {
    margin: 0px;
    font-family: Manrope;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
}

.client-name h6 {
    margin: 0px;
    font-family: Manrope;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
}

.client-details .divider {
    width: 1px;
    height: 40px;
    background: #000;
    margin: 0px 44px;
}

.product-testimonials .testimonials-body p{
    font-family: Manrope;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #5A6382;
}

.product-testimonials .testimonials-body p span {
    font-family: Manrope;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
}

.call-to-action-banner .banner-bg {
    margin: 72px 0px 48px;
    background: linear-gradient(269.99deg, #34509E 14.61%, #091638 85.92%);
    display: flex;
    align-items: center;
    border-radius: 15px;
    gap: 18px;
}

.banner-girl {
    position: relative;
    height: 160px;
    width: 21%;
}

.banner-girl img {
    position: absolute;
    bottom: 0px;
}

.banner-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.banner-head {
    width: 60%;
}

.banner-head h5 {
    margin: 0px;
    color: #FFFFFF;
    font-family: Manrope;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0%;
}

.banner-head h5 span {
    font-family: Manrope;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0%;
}

.banner-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .banner-btn a {
    margin-left: 40px;
} */

.banner-btn button {
    border: none;
    height: 60px;
    width: 240px;
    font-family: Manrope;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    border-radius: 12px;
    background-color: #fff;
    color: #0E2668;
}

footer {
    padding: 60px 0px 24px;
    color: #fff;
    background: #010C1F;
}

footer h6 {
    margin: 0px 0px 16px;
    font-family: Manrope;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    vertical-align: middle;
}

footer .sales-enquires-header {
    margin-top: 48px;
}

footer ul {
    list-style: none;
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

footer ul li a {
    color: #E1E1E1;
    text-decoration: none;
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    vertical-align: middle;
}

footer ul li a:hover {
    color: #2962c5;
    text-decoration: none;
}

footer ul .li-head {
    font-weight: 700;
}

footer hr {
    margin: 36px 0px;
    filter: opacity(.3);
    background: #fff;
}

footer .copyright {
    text-align: center;
    margin: 0px;
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #E1E1E1;
}

.footer .social-links-div {
    justify-content: flex-end;
    display: flex;
}

.footer .social-links {
    display: flex;
    gap: 8px;
}

/* Media Query */
@media only screen and (max-width: 425px) {
    .mobile {
        display: block!important;
    }
    .desktop {
        display: none!important;
    }
    .navbar-native {
        padding: 16px 0px;
    }
    .site-logo img {
        width: 60%;
    }
    .main-header {
        height: 60dvh;
        background-image: url(images/header-background-mobile.png);
        background-size: contain;
        background-position: top;
    }
    .header-image {
        display: none!important;
    }
    .native-row {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }
    .main-header .native-row h2 {
        font-family: Manrope;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -1.8px;
        text-align: center;
        vertical-align: middle;
    }
    .native-row .text-content {
        width: 100%;
        gap: 0px;
    }
    .main-header .native-row .button-row {
        flex-direction: column;
        width: 100%;
    }
    .main-header .button-row button {
        width: 100%;
    }

    .clients-carousel {
        margin: 48px 0px 36px;
        flex-direction: column;
    }
    .carousel-title {
        width: 100%;
    }
    .carousel-title p,
    .carousel-title h3,
    .carousel-title h3 span {
        text-align: center;
    }
    .carousel-slider {
        position: unset;
        width: 100%;
    }
    .carousel-slider img {
        margin-top: 16px;
        height: 100%;
        width: auto;
    }
    .logo-carousel {
        width: 100%;
        overflow: hidden;
        background: white;
        padding: 20px 0;
        position: relative;
        white-space: nowrap;
    }

    .carousel-track {
        display: flex;
        gap: 40px;
        animation: scroll 15s linear infinite;
    }

    .carousel-track img {
        width: 120px;
        height: auto;
    }

    @keyframes scroll {
        from { transform: translateX(0); }
        to { transform: translateX(-100%); }
    }

    .feature-row {
        flex-direction: column;
        position: unset;
    }
    .product-features .wrapper {
        height: auto;
        background-image: url('images/feature-section-bg.png');
    }
    .product-features .section-title {
        width: 100%;
        background-color: unset;
    }
    .product-features .section-title h3 {
        font-size: 28px;
        color: #000;
        text-align: center;
    }

    .product-insights {
        margin: 0px;
    }
    .product-insights .section-title h3 {
        font-size: 28px;
        margin: 0px;
    }
    .product-insights .section-title h5 {
        font-size: 20px;
        margin: 0px;
    }
    .tab-switch {
        border-bottom: none;
    }
    .tab-switch .toggle-btn {
        font-size: 16px;
        width: 180px;
        border-bottom: 2px solid #A6BDFF;
    }
    .tv-btn {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }
    .cv-btn {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
    }
    .product-benefits .wrapper {
        gap: 24px;
        border-radius: 16px;
        padding: 30px;
        background: #22201F;
        text-align: center;
    }
    .product-benefits .section-title h3 {
        font-size: 28px;
        color: #fff;
        margin: 0px;
    }
    .product-benefits .section-title h5 {
        font-size: 20px;
        color: #fff;
        margin: 0px;
    }
    .product-benefits .toggle-wrapper {
        background: #4E4C4C;
        border-radius: 8px;
        padding: 10px;
        display: flex;
        justify-content: center;
    }
    .product-benefits .toggle-btn {
        font-family: Manrope;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        background: none;
        border: none;
        border-radius: 8px;
        padding: 12px;
        border-width: 2px;
    }
    .product-benefits .tv-benefits {
        color: #fff;
    }
    .product-benefits .other-benefits {
        color: #B5B5B5;
    }
    .product-benefits .active {
        background-color: #2F2B2A;
        border: 2px solid;
        border-radius: 8px;
        border-image-source: linear-gradient(180deg, #817E7E 0%, #1B1A1A 100%);
            -moz-border-image: -moz-linear-gradient(180deg, #817E7E 0%, #1B1A1A 100%);
            -webkit-border-image: -webkit-linear-gradient(180deg, #817E7E 0%, #1B1A1A 100%);
            border-image: linear-gradient(180deg, #817E7E 0%, #1B1A1A 100%);
        border-image-slice: 2;
            -webkit-border-image-slice: 2;
    }
    .headings .table-content {
        padding: 0px;
        background-color: unset;
        border: none;
    }
    .headings .table-content p {
        text-align: left;
        font-size: 13px;
    }
    .talent-plus .table-content {
        padding: 0px;
    }
    .talent-plus .table-content p {
        text-align: left;
        font-weight: 400;
        font-size: 14px;
        color: rgba(255, 255, 255, 1);
    }
    .benefits-head {
        width: 40%;
        color: #fff;
        margin: 0px;
        text-align: left;
    }
    .comparison-cell img {
        margin: 0% 5%;
    }
    .benefits-content .table-row {
        padding: 16px 0px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #686664;
    }
    .comparison-cell {
        width: 60%;
        font-weight: 400!important;
        display: flex;
        align-items: center;
    }
    .benefits-content .talent p,
    .benefits-content .other p,
    .benefits-content .benefits-head p {
        margin: 0px;
        color: #fff;
        text-align: left;
    }
    .benefits-content .other p {
        color: #8C8C8C!important;
    }
    .benefits-content .other {
        padding-left: 5%;
        display: none;
    }

    .product-testimonials .section-title {
        margin-bottom: 24px;
    }
    .product-testimonials .left,
    .product-testimonials .right {
        flex-direction: column-reverse;
        gap: 10px;
        width: 300px;
        border-radius: 24px;
        border: 1px solid rgba(235, 234, 245, 1);
        padding: 30px 24px;
    }
    .product-testimonials .section-title h3 {
        font-size: 28px;
    }
    .client-details .client-logo,
    .client-details .divider,
    .testimonials-content .rating{
        display: none;
    }
    .product-testimonials .testimonials-body p {
        font-size: 14px;
    }
    .testimonials-content {
        position: relative;
        overflow: hidden;
    }
    .carousel-native {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }
    .testimonial { 
        min-width: 100%;
        padding: 30px 24px;
        border-radius: 24px;
    }
    .client-name h5 {
        font-size: 16px;
    }
    .client-name h6 {
        font-size: 17px;
    }

    .call-to-action-banner .banner-bg {
        margin-top: 48px;
        gap: 0px;
        padding: 8px 20px 8px 0px;
    }
    .banner-girl {
        position: unset;
        width: 50%;
        height: auto;
    }
    .banner-girl img {
        position: unset;
    }
    .banner-wrapper {
        flex-direction: column;
        width: 50%;
    }
    .banner-head {
        width: auto;
    }
    .banner-head h5,
    .banner-head h5 span {
        line-height: 28px;
        font-size: 20px;
        text-align: left;
    }
    .banner-btn {
        width: 100%;
    }
    .banner-btn button {
        font-size: 14px;
        width: auto;
        padding: 12px 16px;
    }
    footer {
        padding: 0 0px 24px;
    }
    .add-gap {
        gap: 24px;
    }
    .footer-anchor {
        width: 100%;
    }
    .footer-btn {
        width: 100%;
        background-color: #265DF5;
        border: none;
        color: #fff;
        border-radius: 10px;
        padding: 16px 10px;
        font-family: Manrope;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0px;
        vertical-align: middle;
    }
  }